aiofiles==0.7.0
apipkg==1.5
asyncpg==0.22.0
attrs==21.2.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
coverage==5.5
execnet==1.8.0
fastapi==0.63.0
flake8==3.9.2
future==0.18.2
greenlet==1.1.0
h11==0.12.0
httptools==0.1.2
idna==2.10
iniconfig==1.1.1
Jinja2==3.0.1
line-bot-sdk==1.19.0
lotify==2.3.2
MarkupSafe==2.0.1
mccabe==0.6.1
mock==4.0.3
packaging==20.9
pep8==1.7.1
pluggy==0.13.1
psycopg2==2.8.6
py==1.10.0
pycodestyle==2.7.0
pydantic==1.8.2
pyflakes==2.3.1
pyparsing==2.4.7
pytest==6.2.4
pytest-cache==1.0
pytest-cov==2.12.0
pytest-flake8==1.0.7
pytest-pep8==1.0.6
python-dotenv==0.17.1
PyYAML==5.4.1
requests==2.25.1
responses==0.13.3
six==1.16.0
SQLAlchemy==1.4.15
starlette==0.13.6
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.5
uvicorn==0.13.4
uvloop==0.15.2
watchgod==0.7
websockets==8.1
databases[postgresql]